/*----------------------------------------------------------------------
 Text
----------------------------------------------------------------------*/
.txt {@include baseText();}

.txt_sm {font-size: 12px;}
.txt_med {font-size: 20px;}
.txt_lg {font-size: 24px;}
