// ------------------------------------------------------------------
// Header
// ------------------------------------------------------------------
$header_height: 56px;

.header {
	@include clearfix();
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	min-height: $header_height;
	margin: 0;
	z-index: 100;
	padding: 10px;
	background: $brand_dark;
	border-bottom: 1px solid $white;
	font-size: 12px;
}

.header-logo a {
	float: left;
	color: $white;
	font-family: $font_heading;
	font-size: 32px;
	font-weight: 400;
}

.header-logo a:hover,
.header-logo a:focus {
	color: $white;
	text-decoration: none;
}

.header-menu {
	float: right;
}