		<!-- BEGIN HEADER -->
		<div class="header">
			<div class="header-logo" itemscope itemtype="http://schema.org/Organization">
				<a href="#section-home" itemprop="url" class="js-nav">Nate Levine</a>
            </div>
            <div class="header-menu">
            	<!-- BEGIN MENU -->
            	<div class="menu js-menu">
            		<a href="javascript:void(0);" class="menu-trigger js-menu-trigger">
            			<span class="menu-trigger-text">Menu</span>
						<div class="menu-trigger-icon"></div>
        			</a>
            		<div class="menu-content js-menu-content">
            			<ul class="menu-sections">
                            <li><a href="#section-home" class="js-nav">Home</a></li>
            				<li><a href="#section-skills" class="js-nav">Skills</a></li>
            				<li><a href="#section-projects" class="js-nav">Projects</a></li>
            				<li><a href="#section-contact" class="js-nav">Contact</a></li>
            			</ul>
            		</div>
            	</div><!-- END MENU -->
            </div>
		</div><!-- END HEADER -->