//----------------------------------------------------------------------
// Base Font Styles
//----------------------------------------------------------------------
$font_primary: 'Oswald', Arial, sans-serif;
$font_secondary: 'Anton', Arial, sans-serif;
$font_heading: 'Anton', Arial, sans-serif;

//----------------------------------------------------------------------
// Common Colors
//----------------------------------------------------------------------
$brand: #2179a5;
$brand_light: #7dc6eb;
$brand_xlight: #b9e4fa;
$brand_dark: #093a52;

$brand_secondary: #7cc96c;
$brand_secondary_light: #ace5a0;
$brand_secondary_xlight: #c4f5b9;

$gray: #505050;
$gray_light: #d7d7d7;
$gray_dark: #202020;

$white: #FFFFFF;
$black: #000000;

$color_linkedin: #007bb6;
$color_twitter: #76aaeb;
$color_youtube: #cd201f;

//----------------------------------------------------------------------
// Widths
//----------------------------------------------------------------------
$site_max_width: 1024px;
$width_sm: 768px;

$box_shadow: 3px 5px 0 rgba(1, 1, 1, 0.11);
