/*----------------------------------------------------------------------
 Topside Med
----------------------------------------------------------------------*/
.topside {
	width: 60px;
	height: 60px;
	bottom: 20px;
	right: 20px;
	font-size: 44px;
}

.topside i {margin: -28px 0 0 -22px;}