// ------------------------------------------------------------------
// Menu, Med
// ------------------------------------------------------------------
.menu {margin-top: 9px;}

.menu-trigger {
	font-size: 20px;
}

.menu-content {
	top: 57px;
	right: -20px;
}

.menu-sections > li > a {
	padding: 10px 20px;
	font-size: 20px;
}