/*----------------------------------------------------------------------
 Wraps
----------------------------------------------------------------------*/
.wrap {position: relative;}

.wrap_content {
	max-width: 1024px;
	margin: 0 auto 20px;
	padding: 20px 10px 20px;
	background: #ffffff;
	z-index: 1;
}

.wrap_white {
	background: $white;
}

.wrap_alignCenter,
.wrap_alignCenterMobile {text-align: center;}

.wrap_alignRight {text-align: right;}