		<!-- BEGIN CONTACT SECTION -->
		<div id="section-contact" class=""></div>
        <div class="section section_contact">
        	<div class="bubbleWrap">
                <div  class="bubble bubble_bg"></div>
                <div class="bubble bubble_fg"></div>
            </div>
        	<div class="section-bg animateme" data-when="enter" data-from="1" data-to="2" data-crop="true" data-translatey="500" data-easing="linear"></div>
            <div class="section-table">
            	<div class="section-cell">
            		<div class="section-content section-content scrollme">
                        <div class="avatar avatar_lg avatar_noRadius pushBtm20">
                            <img src="./media/images/contact.png" alt="Me at Lambeau Field">
                        </div>
        				<h2 class="hdg hdg_1 pushBtm20">Contact Me</h2>
        				<p class="txt_lg pushBtm40">Check out my resume or send me an email. You can also take a look at my LinkedIn account, GitHub account for code reviews, and CodePen account where I play around and test CSS/JS.</p>
        				<div class="wrap pushBtm40">
        					<a href="https://drive.google.com/open?id=1QkPGdtmkQ4rr1o-bj2Ngauw3ceikX9Ov" target="_blank" class="btn pushRight10 pushBtm20">Resume</a>
        					<a href="mailto:levinephoto@gmail.com" class="btn pushRight10 pushBtm20">Email</a>
    						<a href="https://www.linkedin.com/in/nathan-levine-1793352a/" target="_blank" class="btn pushRight10 pushBtm20">LinkedIn</a>
    						<a href="https://github.com/XombeFlambe" target="_blank" class="btn pushRight10 pushBtm20">GitHub</a>
    						<a href="https://codepen.io/XombeFlambe/" target="_blank" class="btn pushRight10 pushBtm20">CodePen</a>
    					</div>
            		</div>
                </div>
        	</div>
        </div><!-- END CERTIFY SECTION -->