		<!-- BEGIN CSS SECTION -->
		<div id="section-skills" class="anchor"></div>
        <div class="section section_skills scrollme">
            <div class="bubbleWrap">
                <div  class="bubble bubble_bg"></div>
                <div class="bubble bubble_fg"></div>
            </div>
        	<div class="section-bg animateme" data-when="enter" data-from="1" data-to="2" data-crop="true" data-translatey="500" data-easing="linear"></div>
            <div class="section-table">
            	<div class="section-cell">
            		<div class="section-content section-content animateme" data-when="exit" data-from="0" data-to="1.3" data-crop="true" data-translatey="500" data-easing="linear">
                        <div class="avatar avatar_lg avatar_noRadius pushBtm20">
                            <img src="./media/images/settings.png" alt="Me at Lambeau Field">
                        </div>
            			<h2 class="hdg hdg_1 pushBtm20">My Skills</h2>
                        <p class="txt_lg pushBtm40">I am an expert in HTML, CSS, and jQuery with more than 6 years of coding experience. I have also expanded my experience and love for UI design the past 4 years. The combination of these two roles help me create sites with both the developers and users in mind for easy maintainability and usability.</p>
        				<p class="txt_med pushBtm20"><span class="txt_bold">HTML:</span> Templating, Nunjucks,  Validation, Accessibility, SEO</p>
                        <p class="txt_med pushBtm20"><span class="txt_bold">CSS:</span> SCSS, SASS, LESS</p>
                        <p class="txt_med pushBtm20"><span class="txt_bold">JS:</span> jQuery, React, Vue, Browserify</p>
                        <p class="txt_med pushBtm20"><span class="txt_bold">UI Design:</span> Brand Scoping, Site Mapping, Prototyping, Adobe XD, UXPin</p>
            		</div>
                </div>
        	</div>
        	<div class="scrollLink animateme" data-when="exit" data-from="0" data-to="1" data-crop="true" data-translatey="300" data-easing="linear">
				<a href="#section-projects" class="pushBtm20 js-nav"></a>
			</div>
        </div><!-- END ABOUT SECTION -->