		<!-- BEGIN SOLUTIONS SECTION -->
		<div id="section-projects" class=""></div>
        <div class="section section_projects scrollme">
        	<div class="section-bg animateme" data-when="enter" data-from="1" data-to="2" data-crop="true" data-translatey="500" data-easing="linear"></div>
        	<div class="section-table">
	        	<div class="section-cell animateme" data-when="enter" data-from="1" data-to="2.3" data-crop="true" data-translatey="500" data-easing="linear">
					<div class="section-content">
						<div class="avatar avatar_lg avatar_noRadius pushBtm20">
	                        <img src="./media/images/projects.png" alt="Rocket ship">
	                    </div>
						<h2 class="hdg hdg_1 pushBtm20">My Projects</h2>
						<p class="txt_lg pushBtm40 isHiddenMobile">I have worked on a number of projects ranging from small email templating to large dynamic ecommerce sites. The project frameworks/languages have included Wordpress, Kentico, Ruby on Rails, PHP, Angular, Vue, .NET, and Symfony. If you would like, I can provide a full list of projects. Below are examples of a few projects I have worked on while employed at Wiley and The Nerdery.</p>
						<div class="tabModal js-tabModal pushBtm40">
							<ul class="tabModal-trigger js-tabModal-trigger">
								<li><a href="#section-projects" class="btn js-nav">Everything DiSC</a></li>
								<li><a href="#section-projects" class="btn js-nav">PXT Select</a></li>
								<li><a href="#section-projects" class="btn js-nav">MindLab Conference</a></li>
								<li><a href="#section-projects" class="btn js-nav">Cakes</a></li>
								<li><a href="#section-projects" class="btn js-nav">Toma Leche</a></li>
								<li><a href="#section-projects" class="btn js-nav">Summit Ortho</a></li>
							</ul>
							<div class="tabModal-content js-tabModal-content">
								<div class="tabModal-content-item js-tabModal-content-item">
									<h3 class="hdg hdg_1 pushBtm20">Everything DiSC</h3>
									<p class="txt_lg pushBtm20">everythingdisc.com is the flag ship brand site created for WLS, Wiley Learning Solutions.</p>
									<p class="txt_med pushBtm20"><span class="txt_bold">My Roles:</span> Lead Front End Developer, Lead User Interface Designer &amp; Developer, Digital Design Consultant, Kentico FE Integration</p>
									<p class="txt_med pushBtm20"><span class="txt_bold">Other Project Team Members:</span> Brand Manager, Content Managers(2), Development Manager, Backend Developers(2), Digital Designer</p>
									<p class="txt_med pushBtm40"><span class="txt_bold">Framework:</span> Kentico CMS</p>
									<a href="https://everythingdisc.com" target="_blank">
										<img src="./media/images/ed-site-screen-crop.png" class="img400 pushBtm40 isHiddenMobile" alt="">
									</a>
									<div class="wrap">
										<a href="https://everythingdisc.com" target="_blank" class="btn pushRight10 pushBtm20">Visit Site</a>
										<a href="#section-projects" class="btn pushRight10 pushBtm20 js-tabModal-content-close js-nav">Close</a>
									</div>
								</div>
								<div class="tabModal-content-item js-tabModal-content-item">
									<h3 class="hdg hdg_1 pushBtm20">PXT Select</h3>
									<p class="txt_lg pushBtm20">pxtselect.com is another brand site built for WLS. It is also the sister site to everythingdisc.com.</p>
									<p class="txt_med pushBtm20"><span class="txt_bold">My Roles:</span> Lead Front End Developer, Lead User Interface Designer &amp; Developer, Digital Design Consultant, Kentico FE Integration</p>
									<p class="txt_med pushBtm20"><span class="txt_bold">Other Project Team Members:</span> Brand Manager, Content Managers(2), Development Manager, Backend Developers(2), Digital Designer</p>
									<p class="txt_med pushBtm40"><span class="txt_bold">Framework:</span> Kentico CMS</p>
									<a href="https://pxtselect.com" target="_blank">
										<img src="./media/images/pxt-site-screen-crop.png" class="img400 pushBtm40 isHiddenMobile" alt="">
									</a>
									<div class="wrap">
										<a href="https://pxtselect.com" target="_blank" class="btn pushRight10 pushBtm20">Visit Site</a>
										<a href="#section-projects" class="btn pushRight10 pushBtm20 js-tabModal-content-close js-nav">Close</a>
									</div>
								</div>
								<div class="tabModal-content-item js-tabModal-content-item">
									<h3 class="hdg hdg_1 pushBtm20">MindLab Conference</h3>
									<p class="txt_lg pushBtm20">mindlab2019.com is an open partner conference site built for WLS.</p>
									<p class="txt_med pushBtm20"><span class="txt_bold">My Roles:</span> Lead Front End Developer, Lead User Interface Designer &amp; Developer, Digital Design Consultant, Kentico FE Integration</p>
									<p class="txt_med pushBtm20"><span class="txt_bold">Other Project Team Members:</span> Brand Manager, Content Managers(2), Development Manager, Backend Developers(2), Digital Designer, Videographer</p>
									<p class="txt_med pushBtm40"><span class="txt_bold">Framework:</span> Kentico CMS</p>
									<a href="http://mindlab2019.com" target="_blank">
										<img src="./media/images/mindlab-site-screen-crop.png" class="img400 pushBtm40 isHiddenMobile" alt="">
									</a>
									<div class="wrap">
										<a href="http://www.mindlab2019.com/" target="_blank" class="btn pushRight10 pushBtm20">Visit Site</a>
										<a href="#section-projects" class="btn pushRight10 pushBtm20 pushBtm20 js-tabModal-content-close js-nav">Close</a>
									</div>
								</div>
								<div class="tabModal-content-item js-tabModal-content-item">
									<h3 class="hdg hdg_1 pushBtm20">Cakes</h3>
									<p class="txt_lg pushBtm20">cakes.com was an agency project created during my time at The Nerdery.</p>
									<p class="txt_med pushBtm20"><span class="txt_bold">My Roles:</span> Front End Developer, UX/UI Consultant</p>
									<p class="txt_med pushBtm20"><span class="txt_bold">Other Project Team Members:</span> Project Manager, Development Lead, Backend Developers(5), Lead Front End Developer, UX Designer</p>
									<p class="txt_med pushBtm40"><span class="txt_bold">Framework:</span> Ruby On Rails</p>
									<a href="https://cakes.com/" target="_blank">
										<img src="./media/images/cakes-site-screen-crop.png" class="img400 pushBtm40 isHiddenMobile" alt="">
									</a>
									<div class="wrap">
										<a href="https://cakes.com/" target="_blank" class="btn pushRight10 pushBtm20">Visit Site</a>
										<a href="#section-projects" class="btn pushRight10 pushBtm20 js-tabModal-content-close js-nav">Close</a>
									</div>
								</div>
								<div class="tabModal-content-item js-tabModal-content-item">
									<h3 class="hdg hdg_1 pushBtm20">Toma Leche</h3>
									<p class="txt_lg pushBtm20">tomaleche.com was an agency project created during my time at The Nerdery.</p>
									<p class="txt_med pushBtm20"><span class="txt_bold">My Roles:</span> Lead Developer, Lead Front End Developer, UX/UI Consultant</p>
									<p class="txt_med pushBtm20"><span class="txt_bold">Other Project Team Members:</span> Project Manager, Backend Developer, UX Designer</p>
									<p class="txt_med pushBtm40"><span class="txt_bold">Framework:</span> WordPress CMS</p>
									<a href="https://www.tomaleche.com/" target="_blank">
										<img src="./media/images/toma-leche-site-screen-crop.png" class="img400 pushBtm40 isHiddenMobile" alt="">
									</a>
									<div class="wrap">
										<a href="https://www.tomaleche.com/" target="_blank" class="btn pushRight10 pushBtm20">Visit Site</a>
										<a href="#section-projects" class="btn pushRight10 pushBtm20 js-tabModal-content-close js-nav">Close</a>
									</div>
								</div>
								<div class="tabModal-content-item js-tabModal-content-item">
									<h3 class="hdg hdg_1 pushBtm20">Summit Ortho</h3>
									<p class="txt_lg pushBtm20">summitortho.com was an agency project created during my time at The Nerdery.</p>
									<p class="txt_med pushBtm20"><span class="txt_bold">My Roles:</span> Front End Developer</p>
									<p class="txt_med pushBtm20"><span class="txt_bold">Other Project Team Members:</span> Project Manager, Lead Developer, Lead Backend Developer, UX Designer</p>
									<p class="txt_med pushBtm40"><span class="txt_bold">Framework:</span> WordPress CMS</p>
									<a href="https://www.summitortho.com/" target="_blank">
										<img src="./media/images/summit-ortho-site-screen-crop.png" class="img400 pushBtm40 isHiddenMobile" alt="">
									</a>
									<div class="wrap">
										<a href="https://www.summitortho.com/" target="_blank" class="btn pushRight10 pushBtm20">Visit Site</a>
										<a href="#section-projects" class="btn pushRight10 pushBtm20 js-tabModal-content-close js-nav">Close</a>
									</div>
								</div>
								<a href="#section-projects" class="tabModal-content-close js-tabModal-content-close js-nav">
									<i class="fa fa-times"></i>
								</a>
							</div>
						</div><!-- END MODAL TABS -->
					</div>
				</div>
			</div>
			<div class="scrollLink scrollme animateme" data-when="exit" data-from="0" data-to="1" data-crop="true" data-translatey="300" data-easing="linear">
				<a href="#section-contact" class="pushBtm20 pushRight20 js-nav"></a>
			</div>
        </div><!-- END SOLUTIONS SECTION -->