/*----------------------------------------------------------------------
 Images
----------------------------------------------------------------------*/
.imgResponsive {width: 100%;}

.imgFlex {max-width: 100%;}

.imgCentered {
	display: block;
	margin: 0 auto 20px;
}

.img400 {
	max-width: 400px;
}